.about-us-main {
	background: linear-gradient(rgb(106, 154, 182), #cacaca);
	display: flex;
	flex-direction: column;
}

.title-about-us {
	font-size: 4rem;
	text-align: center;
	color: beige;
}

.image-container {
	position: relative;
	margin-bottom: 20px;
}

.image-container img {
	width: 100%;
	height: auto;
}
h2 {
	margin-left: 20px;
}

.green {
	color: hsl(167, 100%, 18%);
}

p {
	text-indent: 1em;
}

.equipo .img {
	height: 180px;
	width: 180px;
	border-radius: 50%;
	border: 2px solid;
	margin-bottom: 10px;
	transition: all 0.5s ease;
}

.equipo .img:hover {
	transform: scale(1.05);
}

.equipo p {
	text-indent: 0;
}

.equipo .info {
	min-height: 240px;
	text-align: center;
}

.equipo a {
	transition: all 0.5s ease;
}

.equipo a:link {
	color: rgb(255, 71, 71);
}

.equipo a:visited {
	color: none;
}

.equipo a:active {
	background-color: red;
	color: white;
}

.equipo a:link:hover {
	color: black;
}
